<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> NewsApp The informative channel to catch your daily News </title>
        {% endif %}
    </head>
    <body>
        <!--Popular News Section-->
        <h3>Popular News</h3>
        <ul>
            {% for popular news in popular %}
                <li>{{popular news.title}}</li>
            {% endfor %}    
        </ul>

    </body>
</html>